.item-row {
  margin: 10px 0;
}

.badge {
  display: inline;
  padding: 5px;
  border-radius: 5px;

}

.badge-blue {
  background-color: #00A5E3;
  color: white;
}

.badge-yellow {
  background-color: #ffdf7e;
  color: black;
}

.btn {
  display: inline;
  padding: 5px;
  border-radius: 5px;
  background-color: #8fb7db;
}

.m-small {
  margin: 5px;
}
